body {
	background-color:#ffffff;
}

p#myself {
  font-size: 60px;
  font-family: Helvetica;
  text-align:center;
}
p#course {
  font-size: 60px;
  font-family: Helvetica;
  text-align:center;
}
p#remixes {
  font-size: 20px;
  font-family: Helvetica;
  text-align:center;
}
p#vday  {
  font-size: 20px;
  font-family: Helvetica;
  text-align:center;
}
p#rp  {
  font-size: 20px;
  font-family: Helvetica;
  text-align:center;
}

