body {
    background-color: lightgreen;
}

h2 {
  margin: 0 auto;
}

p {
  margin: 0 auto;
}


@media (max-width: 1300px) {
  body {
        background-color: #FFF0F5;
  }
  h2 {
    display: none;
  }
  p {
    font-family:sans-serif;
    font-size: 400px;
    float:left;
  }
}

@media (max-width: 950px) {
  body {
        background-color: #00FF7F;
    }
  h2 {
    position: left;
  }
  p {
    font-family:sans-serif;
    font-size: 150px;
    float:left;
  }
}

@media (max-width: 700px) {
  body {
        background-color: #1E90FF;
    }
  h2 {
    display: none;
  }
  p {
    font-family:sans-serif;
    font-size: 10px;
    float:left;
  }
}


@media (max-width: 400px) {
  body {
        background-color: #FF00FF;
    }
  h2 {
    display: none;
  }
  p {
    display:none;
  }
}
