body {
  background-color:#000000;
}

p {
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 125px;
  text-align: center;
}

.p2 {
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 70px;
  text-align: center;
}


